<!DOCTYPE html>
<html>
<head>
  <title>Brick + Beam Detroit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--
  <div class="topbar">
    <div class="container">
      <div class="col-xs-6 social-media">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
      </div>
      <div class="col-xs-6 user-info">
        <% if user_signed_in? %>
          Welcome, <%= current_user.name %>.
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %>
      </div>
    </div>
  </div>
  -->

  <div class="container-responsive">
    <header class="site">
      <h1><a href="/">Brick + Beam Detroit</a></h1>
      <ul class="nav">
        <li class="events"><a href="/events">Events</a></li>
        <li class="forum"><a href="/questions">Q&amp;A Forum</a></li>
        <li class="brag"><a href="/sites">Brag your Rehab</a></li>
        <li class="resources"><a href="/resources">Rehab Resources</a></li>
        <!--<li class="secondary"><a href="/about">About B+B</a></li>-->
      </ul>
    </header>
  </div>

  <% if content_for?(:section_head) %>
  <div class="section-panel">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield :section_head %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <div class="forum-prompt-panel">
    <h2 class="rehab-prompt">Have a rehab question?</h2>
    <div class="rehab-call-to-action">
      <p>Ask your question in our Q&amp;A forum. Experts are standing by.</p>
      <%= link_to('Ask now', new_question_path, class: 'rehab-link btn-default') %>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row footer-logos">
        <div class="col-sm-12 footer-logo">
          <h2>In partnership with:</h2>
          <a href="http://www.knightfoundation.org/"><%= image_tag "logos/knight-logo.png", width: "150px", alt: "Knight Foundation" %></a>
          <a href="http://www.mhpn.org"><%= image_tag "logos/mhpn-logo.png", width: "150px", alt: "MHPN" %></a>
          <a href="http://preservationdetroit.org/"><%= image_tag "logos/pd-logo transparent.png", width: "150px", alt: "Preservation Detroit" %></a>
          <a href="http://detroitfuturecity.com/"><%= image_tag "logos/detroit-future city-black.png", width: "150px", alt: "Detroit Future City" %></a>
        </div>
      </div>
    </div>
  </div>

  <!--
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  -->

</body>
</html>
